@charset "UTF-8";
@font-face {
  font-family: "Calibri Regular";
  src: url("../fonts/Calibri.woff") format("woff");
}
@font-face {
  font-family: "Calibri Italic";
  src: url("../fonts/Calibri-Italic.woff") format("woff");
}
@font-face {
  font-family: "Philosopher Bold";
  src: url("../fonts/Philosopher-Bold.woff") format("woff");
}
@font-face {
  font-family: "Georgia Italic";
  src: url("../fonts/Georgia-Italic.woff") format("woff");
}
*, *::before, *::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hidden {
  display: none;
}

.header {
  width: 100%;
  min-height: 365px;
  background-image: url("../img/header-background.png");
  background-size: 100% 365px;
  background-repeat: no-repeat;
  background-position: top;
}

.header-container {
  max-width: 970px;
  margin: 0 auto;
}

.header-container-upper-row {
  display: flex;
  border-bottom: 1px solid #E4D9D0;
}
.header-container-upper-row ul {
  display: flex;
  margin: 0;
  padding: 0;
  font-family: "Calibri Regular", "Arial", sans-serif;
  list-style: none;
  font-size: 13px;
  color: #766259;
}
.header-container-upper-row a,
.header-container-upper-row .city-name {
  display: flex;
  align-items: center;
  height: 42px;
}
.header-container-upper-row a {
  text-decoration: none;
  color: #766259;
}
.header-container-upper-row .header-section-list-item-one {
  position: relative;
  margin-right: 36px;
}
.header-container-upper-row .header-section-list-item-one::after {
  content: "";
  position: absolute;
  top: 28px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #CBC0BA;
}
.header-container-upper-row .header-section-list.two-list {
  margin-left: auto;
}
.header-container-upper-row .header-section-list-item-two:not(:last-child) {
  margin-right: 61px;
}
.header-container-upper-row .header-section-list-item-two {
  position: relative;
}
.header-container-upper-row .header-section-list-item-two::before {
  content: "";
  position: absolute;
  top: 30%;
  left: -30%;
  width: 15px;
  height: 20px;
}
.header-container-upper-row .header-section-list-item-two.city-name::before {
  background-image: url("../img/city-icon.png");
}
.header-container-upper-row .header-section-list-item-two.profile::before {
  background-image: url("../img/profile-icon.png");
}
.header-container-upper-row .header-section-list-item-two::after {
  content: "";
  position: absolute;
  top: 28px;
  right: 0;
  width: 100%;
  height: 1px;
  border-top: 1px dotted #CBC0BA;
}
.header-container-upper-row .header-section-list-item-two:nth-child(1)::after {
  width: 50%;
}

.header-container-middle-row {
  display: flex;
  align-items: center;
  height: 112px;
  border-bottom: 1px solid #E4D9D0;
}
.header-container-middle-row .logo {
  width: 72px;
  height: 72px;
  margin-right: 18px;
  background-image: url("../img/logo.png");
}
.header-container-middle-row .logo-name {
  position: relative;
  width: 186px;
  height: 43px;
  margin-right: 63px;
  background-image: url("../img/logo-name.png");
  background-repeat: no-repeat;
  background-position: top;
}
.header-container-middle-row .logo-name-description {
  position: absolute;
  bottom: 0;
  font-family: "Calibri Regular", "Arial", sans-serif;
  font-size: 12px;
  color: #5e3919;
  font-weight: bold;
}
.header-container-middle-row .header-form {
  position: relative;
  width: 330px;
}
.header-container-middle-row .header-form-input {
  width: 100%;
  height: 38px;
  border-radius: 25px;
  border: none;
  background-color: #FFFFFF;
}
.header-container-middle-row ::placeholder,
.header-container-middle-row .header-form-input {
  font-family: "Calibri Regular", "Arial", sans-serif;
  font-size: 13px;
  color: #766259;
}
.header-container-middle-row .header-form-input {
  padding-left: 32px;
}
.header-container-middle-row .header-form::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 10px;
  width: 11px;
  height: 13px;
  background-image: url("../img/circle-search.png");
  background-repeat: no-repeat;
}
.header-container-middle-row .header-form::after {
  content: "";
  position: absolute;
  top: 23px;
  left: 17px;
  width: 11px;
  height: 13px;
  background-image: url("../img/stick-search.png");
  background-repeat: no-repeat;
}
.header-container-middle-row .phone {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}
.header-container-middle-row .phone-number {
  font-family: "Georgia Italic", "Times New Roman", serif;
  font-size: 28px;
  color: #461f02;
  text-decoration: none;
}
.header-container-middle-row .phone-callback {
  position: relative;
  align-self: flex-end;
  margin-top: 5px;
  font-family: "Calibri Regular", "Arial", sans-serif;
  font-size: 13px;
  color: #766259;
  text-decoration: none;
}
.header-container-middle-row .phone-callback::after {
  content: "";
  position: absolute;
  top: 15px;
  right: 0;
  width: 100%;
  height: 1px;
  border-top: 1px dotted #CBC0BA;
}

.header-container-bottom-row {
  display: flex;
  justify-content: space-between;
}
.header-container-bottom-row .main-menu {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.header-container-bottom-row .main-menu-link,
.header-container-bottom-row .cart {
  display: flex;
  align-items: center;
  height: 55px;
  font-family: "Calibri Regular", "Arial", sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: #68350F;
  text-decoration: none;
}
.header-container-bottom-row .main-menu-list:not(:last-child) {
  margin-right: 38px;
}
.header-container-bottom-row .cart {
  position: relative;
}
.header-container-bottom-row .cart::before {
  content: "";
  position: absolute;
  top: 6px;
  left: -40px;
  width: 36px;
  height: 34px;
  background-image: url("../img/cart-icon.png");
}
.header-container-bottom-row .cart::after {
  content: attr(data-count);
  position: absolute;
  top: 10px;
  left: -17px;
  font-family: "Calibri Regular", "Arial", sans-serif;
  font-size: 11px;
  color: #FFFFFF;
}

.main {
  background-image: url("../img/main-background-top.png");
  background-repeat: no-repeat;
}

.section-order {
  display: flex;
  justify-content: space-between;
  max-width: 1030px;
  margin: 0 auto;
  padding: 39px 32px 0 32px;
  /*нижний паддинг подправить*/
  background-image: url("../img/order-section-background-top.png");
  background-position: top;
  transform: translateY(-155px);
}

.section-order-column-left {
  display: flex;
  flex-direction: column;
  width: 390px;
}
.section-order-column-left .section-order-title {
  margin: 0;
  padding: 0;
  font-family: "Georgia Italic", "Times New Roman", serif;
  font-size: 35px;
  color: #461f02;
}
.section-order-column-left .user-status-container {
  display: flex;
  margin-top: 33px;
}
.section-order-column-left .private-person,
.section-order-column-left .legal-person {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 50px;
  font-family: "Calibri Regular", "Arial", sans-serif;
  color: #461f02;
  text-decoration: none;
  font-size: 15px;
  background-color: #FDFCFA;
  border: 1px solid #F7EBD7;
}
.section-order-column-left .private-person {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.section-order-column-left .legal-person {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.section-order-column-left .current-person {
  border: 1px dashed #EF5B00;
  background-color: transparent;
}
.section-order-column-left span {
  position: relative;
}
.section-order-column-left .current-person span::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  border-top: 1px dotted #CBC0BA;
}
.section-order-column-left .order-form {
  display: flex;
  flex-direction: column;
  margin-top: 37px;
}
.section-order-column-left .order-form-contact-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.section-order-column-left .title-form {
  width: 100%;
  font-family: "Georgia Italic", "Times New Roman", serif;
  font-size: 25px;
  color: #461f02;
}
.section-order-column-left .contact-info-item {
  display: flex;
  flex-direction: column;
  width: 186px;
  margin-top: 12px;
}
.section-order-column-left .order-form-label {
  font-family: "Calibri Regular", "Arial", sans-serif;
  font-size: 14px;
  color: #817068;
  margin: 0 0 5px 11px;
}
.section-order-column-left .order-form-input {
  height: 35px;
  padding-left: 10px;
  font-family: "Calibri Regular", "Arial", sans-serif;
  font-size: 16px;
  color: #461f02;
  border-radius: 2px;
  border: 1px solid #CCBBB5;
  cursor: pointer;
}
.section-order-column-left .contact-info-item-phone-container {
  display: flex;
}
.section-order-column-left .input-first-phone-number {
  width: 39px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  outline: none;
  cursor: auto;
}
.section-order-column-left .input-phone-number {
  width: 119px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  margin-left: -1px;
}
.section-order-column-left ::placeholder {
  font-family: "Calibri Regular", "Arial", sans-serif;
  font-size: 16px;
  color: rgba(129, 112, 104, 0.5);
}
.section-order-column-left .order-form-input:invalid {
  border-color: red;
  outline: none;
}
.section-order-column-left .error-message {
  width: 186px;
  margin: 8px 0 0 8px;
  font-family: "Calibri Italic", "Arial", sans-serif;
  font-size: 11px;
  color: #958781;
}
.section-order-column-left .order-form-adress-title {
  display: block;
  margin-top: 8px;
  margin-bottom: 14px;
}
.section-order-column-left .order-form-adress-country-city {
  display: flex;
  justify-content: space-between;
}
.section-order-column-left .order-form-adress-item {
  display: flex;
  flex-direction: column;
  width: 186px;
}
.section-order-column-left select::-ms-expand {
  display: none;
  /*ie*/
}
.section-order-column-left select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("../img/select-icon.png");
  background-repeat: no-repeat;
  background-position: 95% 50%;
}
.section-order-column-left .order-form-delivery {
  margin-top: 20px;
}
.section-order-column-left .order-form-delivery-title {
  font-size: 19px;
}
.section-order-column-left .delivery-list {
  margin: 0;
  padding: 0;
  margin-top: 13px;
  list-style: none;
}
.section-order-column-left .delivery-list-item {
  outline: 1px dashed #f0e4ca;
  padding: 17px 0 20px 44px;
  margin-bottom: 1px;
}
.section-order-column-left .delivery-list-item-current {
  outline: 1px solid #f0e4ca;
}
.section-order-column-left .delivery-list-label {
  display: flex;
  flex-direction: column;
}
.section-order-column-left .delivery-list-label-first {
  font-family: "Calibri Regular", "Arial", sans-serif;
  font-size: 17px;
  color: #461f02;
}
.section-order-column-left .delivery-list-label-second {
  max-width: 265px;
  font-family: "Calibri Regular", "Arial", sans-serif;
  font-size: 13px;
  color: #c4b7b1;
}
.section-order-column-left .order-form-self-delivery-point {
  display: flex;
  flex-direction: column;
  margin-top: 18px;
}
.section-order-column-left .order-form-self-delivery-point-title {
  margin-bottom: 15px;
  font-size: 19px;
}
.section-order-column-left .self-delivery-point-select {
  width: 246px;
}
.section-order-column-left .order-form-delivery-point-map {
  width: 390px;
  height: 292px;
  margin-top: 20px;
  background-color: lightgrey;
  outline: 1px solid #f0e4ca;
}
.section-order-column-left .order-form-delivery-point-map-wraper {
  display: flex;
  align-items: flex-end;
  width: 390px;
  height: 292px;
  background-image: linear-gradient(to top, #ffffff 25%, transparent 75%);
}
.section-order-column-left .order-form-delivery-point-map-adress {
  width: 280px;
  margin-left: 30px;
  margin-bottom: 24px;
  font-family: "Calibri Regular", "Arial", sans-serif;
  font-size: 16px;
  color: #461f02;
  line-height: 22px;
}
.section-order-column-left .order-form-comment {
  margin-top: 39px;
}
.section-order-column-left .order-form-comment-title {
  font-size: 25px;
}
.section-order-column-left .order-form-comment-textarea {
  width: 100%;
  min-height: 180px;
  margin-top: 21px;
  font-family: "Calibri Regular", "Arial", sans-serif;
  font-size: 16px;
  color: #461f02;
  border-radius: 2px;
  border: 1px solid #c4b7b1;
}
.section-order-column-left .form-button {
  width: 226px;
  height: 46px;
  align-self: flex-end;
  margin-top: 22px;
  font-family: "Calibri Regular", "Arial", sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #ff7700;
  border-radius: 2px;
  border: 1px solid #ff6900;
  background-color: #ffffff;
  cursor: pointer;
}

.section-order-column-right {
  width: 308px;
}
.section-order-column-right .user-order {
  width: 100%;
  padding-left: 19px;
  padding-right: 19px;
}
.section-order-column-right .user-order-title {
  padding-top: 13px;
  padding-bottom: 12px;
  padding-left: 18px;
  font-family: "Georgia Italic", "Times New Roman", serif;
  font-size: 25px;
  color: #461f02;
  text-align: left;
}
.section-order-column-right .user-order-list,
.section-order-column-right .user-order-list-price {
  width: 165px;
  font-family: "Calibri Regular", "Arial", sans-serif;
  font-size: 14px;
  line-height: 17px;
  text-align: left;
  color: #766259;
}
.section-order-column-right .user-order-list-price {
  width: 70px;
  text-align: right;
  color: #461f02;
}
.section-order-column-right .user-order-list.sixth-row {
  color: #461f02;
}
.section-order-column-right .user-order-list-price.sixth-row {
  padding-top: 15px;
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 20px;
}
.section-order-column-right .user-order.first-table {
  margin-top: 70px;
  border: 1px solid #f0e4ca;
  border-bottom: 1px dashed #f0e4ca;
}
.section-order-column-right .user-order.second-table {
  border-left: 1px solid #f0e4ca;
  border-right: 1px solid #f0e4ca;
}
.section-order-column-right .user-order.third-table {
  border: 1px solid #f0e4ca;
  border-top: 1px dashed #f0e4ca;
}
.section-order-column-right .user-order-list.first-row {
  padding-bottom: 8px;
}
.section-order-column-right .user-order-list-price.first-row,
.section-order-column-right .user-order-list-price.second-row {
  vertical-align: top;
}
.section-order-column-right .user-order-list.second-row {
  padding-bottom: 20px;
}
.section-order-column-right .user-order-list.third-row,
.section-order-column-right .user-order-list-price.third-row {
  padding-top: 12px;
}
.section-order-column-right .user-order-list.fouth-row,
.section-order-column-right .user-order-list-price.fouth-row {
  padding-top: 8px;
}
.section-order-column-right .user-order-list.fifth-row,
.section-order-column-right .user-order-list-price.fifth-row {
  padding-top: 7px;
  padding-bottom: 10px;
}

/*# sourceMappingURL=style.css.map */
