@font-face {
  font-family: "Calibri Regular";
  src: url("../fonts/Calibri.woff") format("woff");
}

@font-face {
  font-family: 'Calibri Italic';
  src: url('../fonts/Calibri-Italic.woff') format('woff');
  }

@font-face {
  font-family: "Philosopher Bold";
  src: url("../fonts/Philosopher-Bold.woff") format("woff");
}

@font-face {
  font-family: "Georgia Italic";
  src: url("../fonts/Georgia-Italic.woff") format("woff");
  }