@use "fonts";

$calibri: "Calibri Regular", "Arial", sans-serif;
$georgia: "Georgia Italic", "Times New Roman", serif;
$calibriItalic: "Calibri Italic", "Arial", sans-serif;

*, *::before, *::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  width: 100%;
  min-height: 365px;
  background-image: url("../img/header-background.png");
  background-size: 100% 365px;
  background-repeat: no-repeat;
  background-position: top;
}

.header-container {
  max-width: 970px;
  margin: 0 auto;
}

.header-container-upper-row {
  display: flex;
  border-bottom: 1px solid #E4D9D0;
  
  ul {
    display: flex;
    margin: 0;
    padding: 0;

    font-family: "Calibri Regular", "Arial", sans-serif;
    list-style: none;
    font-size: 13px;
    color: #766259;
  }
  
  a,
  .city-name {
    display: flex;
    align-items: center;
    height: 42px;
  }

  a {
    text-decoration: none;
    color: #766259;
  }

  .header-section-list-item-one {
    position: relative;
    margin-right: 36px;
  }

  .header-section-list-item-one::after {
    content: "";
    position: absolute;
    top: 28px;
    left: 0;

    width: 100%;
    height: 1px;

    background-color: #CBC0BA;
  }

  .header-section-list.two-list {
    margin-left: auto;
  }

  .header-section-list-item-two:not(:last-child) {
    margin-right: 61px;
  }

  .header-section-list-item-two {
    position: relative;
  }

  .header-section-list-item-two::before {
    content: "";
    position: absolute;
    top: 30%;
    left: -30%;

    width: 15px;
    height: 20px;   
  }

  .header-section-list-item-two.city-name::before {
    background-image: url("../img/city-icon.png");
  }

  .header-section-list-item-two.profile::before {
    background-image: url("../img/profile-icon.png");
  }

  .header-section-list-item-two::after {
    content: "";
    position: absolute;
    top: 28px;
    right: 0;

    width: 100%;
    height: 1px;

    border-top:1px dotted #CBC0BA;
  }

  .header-section-list-item-two:nth-child(1)::after{
    width: 50%;
  }

}

.header-container-middle-row {

  display: flex;
  align-items: center;
  height: 112px;
  
  border-bottom: 1px solid #E4D9D0;

  .logo {
    width: 72px;
    height: 72px;
    margin-right: 18px;

    background-image: url("../img/logo.png");
  }

  .logo-name {
    position: relative;

    width: 186px;
    height: 43px;
    margin-right: 63px;

    background-image: url("../img/logo-name.png");
    background-repeat: no-repeat;
    background-position: top;
  }

  .logo-name-description {
    position: absolute;
    bottom: 0;

    font-family: "Calibri Regular", "Arial", sans-serif;
    font-size: 12px;
    color: #5e3919;
    font-weight: bold;
  }

  .header-form {
    position: relative;

    width:330px;
  }

  .header-form-input {
    width: 100%;
    height: 38px;

    border-radius: 25px;
    border: none;
    background-color: #FFFFFF;
  }

  ::placeholder, 
  .header-form-input {
    font-family: "Calibri Regular", "Arial", sans-serif;
    font-size: 13px;
    color: #766259;
  }

  .header-form-input {
    padding-left: 32px;
  }

  .header-form::before {
    content: "";
    position: absolute;
    top: 14px;
    left: 10px;

    width: 11px;
    height: 13px;

    background-image: url("../img/circle-search.png");
    background-repeat: no-repeat;
  }

  .header-form::after {
    content: "";
    position: absolute;
    top: 23px;
    left: 17px;

    width: 11px;
    height: 13px;

    background-image: url("../img/stick-search.png");
    background-repeat: no-repeat;
  }

  .phone {
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }

  .phone-number {
    font-family: "Georgia Italic", "Times New Roman", serif;
    font-size: 28px;
    color: #461f02;

    text-decoration: none;
  }

  .phone-callback {
    position: relative;

    align-self: flex-end;
    margin-top: 5px;

    font-family: "Calibri Regular", "Arial", sans-serif;
    font-size: 13px;
    color: #766259;

    text-decoration: none;
  }

  .phone-callback::after {
    content: "";
    position: absolute;
    top: 15px;
    right: 0;

    width: 100%;
    height: 1px;

    border-top:1px dotted #CBC0BA;
  }

}

.header-container-bottom-row {
  display: flex;
  justify-content: space-between;

  .main-menu {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .main-menu-link, 
  .cart {
    display: flex;
    align-items: center;
    height: 55px;

    font-family: "Calibri Regular", "Arial", sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #68350F;
    text-decoration: none;
  }

  .main-menu-list:not(:last-child) {
    margin-right: 38px;
  }

  .cart {
    position: relative;
  }

  .cart::before {
    content: "";
    position: absolute;
    top: 6px;
    left: -40px;

    width: 36px;
    height: 34px;

    background-image: url("../img/cart-icon.png");
  }

  .cart::after {
    content: attr(data-count);
    position: absolute;
    top: 10px;
    left: -17px;

    font-family: "Calibri Regular", "Arial", sans-serif;
    font-size: 11px;
    color: #FFFFFF;
  }

}

.main {
  background-image: url("../img/main-background-top.png");
  background-repeat: no-repeat;
  max-height: 1468px;
}

.section-order {
  display: flex;
  justify-content: space-between;
  max-width: 1030px;
  margin: 0 auto;
  padding: 39px 32px 0 32px; /*нижний паддинг подправить*/

  background-image: url("../img/order-section-background-top.png");
  background-position: top;
  transform: translateY(-155px);
}

.section-order-column-left {
  display: flex;
  flex-direction: column;
  width: 390px;

  .section-order-title {
    margin: 0;
    padding: 0;

    font-family: "Georgia Italic", "Times New Roman", serif;
    font-size: 35px;
    color: #461f02;
  }

  .user-status-container {
    display: flex;
    margin-top: 33px;
  }

  .private-person,
  .legal-person {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50px;
    
    font-family: $calibri;
    color: #461f02;
    text-decoration: none;
    font-size: 15px;

    background-color: #FDFCFA;
    border: 1px solid #F7EBD7;
  }

  .private-person {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  .legal-person {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .current-person {
    border: 1px dashed #EF5B00;
    background-color: transparent;
  }

  span {
    position: relative;
  }

  .current-person span::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;

    width: 100%;
    height: 1px;
    border-top: 1px dotted #CBC0BA;
  }

  //форма
  .order-form {
    display: flex;
    flex-direction: column;
    margin-top: 37px;
  }

  .order-form-contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .title-form {
    width: 100%;

    font-family: $georgia;
    font-size: 25px;
    color: #461f02;
  }

  .contact-info-item {
    display: flex;
    flex-direction: column;
    width: 186px;
    margin-top: 12px;
  }

  .order-form-label {
    font-family: $calibri;
    font-size: 14px;
    color: #817068;
    margin: 0 0 5px 11px;
  }

  .order-form-input {
    height: 35px;
    padding-left: 10px;

    font-family: $calibri;
    font-size: 16px;
    color: #461f02;

    border-radius: 2px;
    border: 1px solid  #CCBBB5;
    cursor: pointer;
  }

  .contact-info-item-phone-container {
    display: flex;

  }

  .input-first-phone-number {
    width: 39px;

    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    outline: none;
    cursor: auto;
  }

  .input-phone-number {
    width: 119px;

    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-left: -1px;
  }

  ::placeholder {
    font-family: $calibri;
    font-size: 16px;
    color: rgba(129, 112, 104, 0.5);
  }

  .order-form-input:invalid {
    border-color: red;
    outline: none;
  }
  
  .error-message {
    width: 186px;
    margin: 8px 0 0 8px;

    font-family: $calibriItalic;
    font-size: 11px;
    color: #958781;
  }

  .order-form-adress-title {
    display: block;
    margin-top: 8px;
    margin-bottom: 14px;
  }

  .order-form-adress-country-city {
    display: flex;
    justify-content: space-between;
  }

  .order-form-adress-item {
    display: flex;
    flex-direction: column;
    width: 186px;
  }

  select::-ms-expand {
    display: none; /*ie*/
}

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    background-image: url("../img/select-icon.png");
    background-repeat: no-repeat;
    background-position: 95% 50%;
  }

  .order-form-delivery {
    margin-top: 20px;
  }

  .order-form-delivery-title {
    font-size: 19px;
  }

  .delivery-list {
    margin: 0;
    padding: 0;
    margin-top: 13px;

    list-style: none;
  }

  .delivery-list-item {
    outline: 1px dashed #f0e4ca;
    padding: 17px 0 20px 44px;
    margin-bottom: 1px;
  }

  .delivery-list-item-current {
    outline: 1px solid #f0e4ca;
    background-color: #FDFCFA;
  }

  .delivery-list-label {
    position: relative;

    display: flex;
    flex-direction: column;
    cursor: pointer;
  }

  .delivery-list-label::before {
    content: "";
    position: absolute;
    top: 4px;
    left: -27px;

    width: 14px;
    height: 14px;
    background-image: url("../img/delivery-list-empty-icon.png");
  }

  .delivery-list-input:checked + label::before {
    background-image: url("../img/delivey-list-icon.png");
  }

  .delivery-list-label-first {
    font-family: $calibri;
    font-size: 17px;
    color: #461f02;
  }

  .delivery-list-label-second {
    max-width: 265px;

    font-family: $calibri;
    font-size: 13px;
    color: #c4b7b1;
  }

  .order-form-self-delivery-point {
    // display: flex; //это свойство в классе vissual
    flex-direction: column;
    margin-top: 18px;
  }

  .order-form-self-delivery-point-title {
    margin-bottom: 15px;

    font-size: 19px;
  }

  .self-delivery-point-select {
    width: 246px;
  }

  .order-form-delivery-point-map {
    position: relative;
    width: 390px;
    height: 292px;
    margin-top: 20px;
    
    background-image: url("../img/map.png");
    background-color: #F5E5CA;
    border: 1px solid #f0e4ca;
    -webkit-box-shadow: 0px 25px 19px -20px rgba(245,229,202,1);
    -moz-box-shadow: 0px 25px 19px -20px rgba(245,229,202,1);
    box-shadow: 0px 25px 19px -20px rgba(245,229,202,1);

    overflow: hidden;
  }

  .order-form-delivery-point-map::before {
    content: "";
    position: absolute;
    top: 16%;
    left: 34%;
    width: 36px;
    height: 45px;

    background-image: url("../img/delivery-point-icon.png");
  }

  .order-form-delivery-point-map-adress {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1000;

    width: 100%;
    height: 84px;

    background-image: linear-gradient(to top, #FDFCFA 65%, transparent);
  }

  .order-form-delivery-point-map-adress::after {
    content: attr(data-adress);
    position: absolute;
    bottom: 25px;
    left: 25px;

    width: 280px;
    height: auto;

    font-family: $calibri;
    font-size: 16px;
    color: #461f02;
    line-height: 22px;
  }

  .order-form-comment {
    margin-top: 39px;
  }

  .order-form-comment-title {
    font-size: 25px;
  }

  .order-form-comment-textarea {
    width: 100%;
    min-height: 180px;
    margin-top: 21px;

    font-family: $calibri;
    font-size: 16px;
    color: #461f02;
    border-radius: 2px;
    border: 1px solid #c4b7b1;
  }

  .form-button {
    width: 226px;
    height: 46px;
    align-self: flex-end;
    margin-top: 22px;

    font-family: $calibri;
    font-weight: bold;
    font-size: 14px;
    color: #ff7700;

    border-radius: 2px;
    border: 1px solid #ff6900;
    background-color: #ffffff;
    cursor: pointer;
  }

}

.section-order-column-right {
  width: 308px;

  .user-order {
    width: 100%;
    padding-left: 19px;
    padding-right: 19px;
  }

  .user-order-title {
    padding-top: 13px;
    padding-bottom: 12px;
    padding-left: 18px;

    font-family: $georgia;
    font-size: 25px;
    color: #461f02;
    text-align: left;

  }

  .user-order-list,
  .user-order-list-price {
    width: 165px;

    font-family: $calibri;
    font-size: 14px;
    line-height: 17px;
    text-align: left;
    color: #766259;
  }

 .user-order-list-price {
    width: 70px;

    vertical-align: top;
    text-align: right;
    color: #461f02;
  }

  .user-order-list.sixth-row {
    color: #461f02;
  }

  .user-order-list-price.sixth-row{
    padding-top: 15px;
    padding-bottom: 20px;

    font-weight: bold;
    font-size: 20px;
  }

  .user-order.first-table {
    margin-top: 70px;

    border: 1px solid #f0e4ca;
    border-bottom: 1px dashed #f0e4ca;
  }

  .user-order.second-table {
    border-left: 1px solid #f0e4ca;
    border-right: 1px solid #f0e4ca;
    background-color: #FDFCFA;
  }
  
  .user-order.third-table {
    border: 1px solid #f0e4ca;
    border-top: 1px dashed #f0e4ca;
    background-color: #FDFAF5;

    -webkit-box-shadow: 0px 25px 19px -20px rgba(245,229,202,1);
    -moz-box-shadow: 0px 25px 19px -20px rgba(245,229,202,1);
    box-shadow: 0px 25px 19px -20px rgba(245,229,202,1);
  }

  .user-order-list.first-row {
    padding-bottom: 8px;
  }

  .user-order-list-price.first-row,
  .user-order-list-price.second-row {
    vertical-align: top;
  }

  .user-order-list.second-row {
    padding-bottom: 20px;
  }

  .user-order-list.third-row,
  .user-order-list-price.third-row {
    padding-top: 12px;
  }

  .user-order-list.fouth-row,
  .user-order-list-price.fouth-row {
    padding-top: 8px;
  }

  .user-order-list.fifth-row,
  .user-order-list-price.fifth-row {
    padding-top: 7px;
    padding-bottom: 10px;
  }

}

.footer {
  width: 100%;
  min-height: 301px;
  background-image: url("../img/footer-background.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: top;

  .footer-container {
    max-width: 1030px;
    height: auto;
    margin: 0 auto;
    padding: 35px 32px 0 32px;

  }

  .footer-title {
    font-family: $georgia;
    font-size: 17px;
    color: #461f02;
  }

  .footer-list {
    margin: 0;
    padding: 0;
    margin-top: 3px;

    list-style: none;
  }

  .footer-list-link,
  .footer-invintation-description {
    margin: 0;
    padding: 0;

    font-family: $calibri;
    font-size: 14px;
    color: #766259;
    line-height: 22px;

    text-decoration: none;
  }

  .underscored-link {
    position: relative;
  }

  .underscored-link::after {
    position: absolute;
    content: "";
    bottom: -2px;
    left: 0;

    width: 100%;
    height: 1px;
    border-top: 1px solid #766259;
    opacity: 0.3;
  }

  .footer-invintation-description {
    margin-top: 4px;

    font-size: 13px;
    line-height: 17px;
  }

  .footer-upper-row {
    display: flex;
  }

  .footer-catalog {
    margin-right: 49px;
  }

  .footer-list.catalog {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    max-height: 91px;
    width: 195px;
  }

  .footer-info {
    margin-right: 94px;
  }

  .footer-list.info {
    width: 158px;
  }

  .footer-contacts {
    margin-right: 26px;
  }

  .footer-list {
    width: 225px;
  }

  .footer-form {
    display: flex;
    margin-top: 13px;
  }

  .footer-form-input {
    padding-left: 13px;
    width: 185px;
    height: 40px;

    font-family: $calibri;
    font-size: 15px;
    color: #766259;

    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border: 1px solid #CFBFB9;
    border-right-color: #ffffff;

    cursor: pointer;
  }

  .footer-form-input::placeholder {
    font-family: $calibri;
    font-size: 15px;
    color: #766259;
  }

  .footer-form-button {
    position: relative;

    height: 40px;
    width: 43px;
    margin-left: -1px;

    border: none;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color: #FF7000;

    cursor: pointer;
  }

  .footer-form-button::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;

    width: 11px;
    height: 18px;

    transform: translate(-50%, -50%);
    background-image: url("../img/button-icon.png");
  }

  .footer-bottom-row {
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 75px;
  }

  .footer-bottom-row::before {
    position: absolute;
    content: "";
    top: -24px;
    left: 0;

    width: 100%;
    height: 9px;

    background-image: url("../img/footer-inner-border.png");
  }

  .footer-copyright {
    margin: 0;
    padding: 0;

    font-family: $calibri;
    font-size: 13px;
    color: #766259;
  }

  .social-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    min-width: 130px;

    list-style: none;
  }

  .social-link {
    position: relative;

    display: block;
    width: 27px;
    height: 27px;
  }

  .youtube-link::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;


    width: 27px;
    height: 27px;

    background-image: url("../img/youtube-icon.png");
  }

  .instagram-link::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;


    width: 27px;
    height: 27px;

    background-image: url("../img/instagram-icon.png");
  }

  .facebook-link::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;


    width: 27px;
    height: 27px;

    background-image: url("../img/facebook-icon.png");
  }

  .vk-link::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;


    width: 27px;
    height: 27px;

    background-image: url("../img/vk-icon.png");
  }

}

/*------------*/
.hidden {
  display: none;
}

.vissual {
  display: flex;
}

// @media only screen and (min-width : 1920px) {
//   .header {
//       background-size: cover;
//   }
// }